@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100dvh;
    font-family: Jost;
    background-color: #DFE3EE;
}

.grad-to-br {
    background-image: linear-gradient(to bottom right, #108eb1, #1e3a87);
}
.rounded-tr-bl-4xl {
    border-start-end-radius:12rem;
    border-end-start-radius: 12rem;
}

/* fluid font size */
h1 {
    font-size: clamp(1.56rem, 0.73vi + 1.38rem, 2.11rem);
}
h2 {
    font-size: clamp(1.25rem, 0.44vi + 1.14rem, 1.58rem);
}
h3 {
    font-size: clamp(1rem, 0.25vi + 0.94rem, 1.19rem);
}
h4,
a,
p {
    font-size: clamp(0.8rem, 0.12vi + 0.77rem, 0.89rem);
}