@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100dvh;
    font-family: Poppins;
    background-color: #DFE3EE;
}

.grad-to-br {
    background-image: linear-gradient(to bottom right, #108eb1, #1e3a87);
}

h1 {
    font-size: clamp(1rem, 6vw, 1.5rem);
}